@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


body{
    font-family: 'Dancing Script', cursive;
    background-color: #eda08c;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 75vh;
}

h1{
    font-size: 60px;
}

.confirmacao{
    display: flex;
    justify-content: space-evenly;
}

button{
    font-size: 30px!important;
}

.btn-success{
    position: relative;
}

.celular{
    padding-top:40px;
    display: none;
}

.alteraFrase{
    display: flex;
    justify-content: flex-end;
    padding-top:32px;
    padding-right:32px;
}

.caixaAlteraFrase{
    display: flex;
    flex-direction: column;
}
.btn-secondary{
    font-size: 25px!important;
}

.ativa{
    display: block;
}

.inativa{
    display: none;
}
@media(max-width:768px){
    .celular{
        display: flex;
    }
    
    h1{
    font-size: 40px;
    }
}